<% if @restaurants.count == 0 %>
  <div id="no-restaurants">
    No restaurants yet
  </div>
<% else %>
<table class="table table-hover">
  <th>Restaurant Name</th>
  <th>Rating</th>
  <th>Last Comment</th>
  <th>Options</th>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
      <td class="average_rating"><%= render partial: 'shared/star_rating', locals: {rating: restaurant.average_rating} %></td>
      <td><%= restaurant.last_comment %></td>
      <td><div class="btn-group">
        <%= link_to "Edit", edit_restaurant_path(restaurant), {class: "btn btn-default"} %>
        <%= link_to "Delete", restaurant_path(restaurant), {class: "btn btn-default", method: :delete} %>
        <%= link_to "Review", new_restaurant_review_path(restaurant), {class: "btn btn-default"} %>
      </div></td>
    </tr>
  <% end %>
</table>
<div class="recent-comments">
  <% @reviews.each do |review| %>
    <% this_restaurant = Restaurant.find review.restaurant_id %>
    <%= review.comment %> -
    <%= this_restaurant.name %> Created at 
    <%= review.created_at %><br>
  <% end %>
</div>
<% end %>